body{
  background-image: url("images/wallpaper.jpg");
  background-size: cover;
}

a{
  color: white! important;
}

h1{
  font-family: 'Architects Daughter', cursive;
  padding-top: 50px;
  padding-left: 50px;
  color: white;
}

h2{
  font-family: 'Indie Flower', cursive;
  padding-top: 50px;
  padding-left: 50px;
  color: white;
}

div{
  text-align: center;
  display: inline-block;
}

.buttons{
  font-family:none;
  margin-left: 40px;
}

.btn-1{
  width: 170px;
  margin-right: 50px;
}

.btn-2{
  margin-bottom: 0;
  text-align: center;
  color: white;
}

.form_1{
  color: white ! important;

}


