<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Imator</title>

  <!-- favicon -->
  <link rel="icon" href="/static/images/favicon.ico">

  <!-- CSS file -->
  <link rel="stylesheet" href="/static/editor.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/21dd03b4bb.js" crossorigin="anonymous"></script>

  <!-- J-query and JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <!-- font style -->
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>
  <script>

  </script>

</head>

<body>
  <header>
    <h1>Imator</h1>
  </header>
  <div class="row first-row">
    <div class="btn-group-vertical">

      <div class="dropright">
        <button class="btn btn-lg btn-outline-dark dropdown-toggle" id="homeButton" data-toggle="dropdown" data-toggle="tooltip" title="home" aria-haspopup="true" aria-expanded="false" type="button" name="button"><i class="fas fa-home fa-2x"></i></button>
        <div class="dropdown-menu menu" aria-labelledby="homeButton">
          <a id="new" class="dropdown-item item" href="/">New</a>
          <br>
          <a id="open" class="dropdown-item item" href="javascript:void(0);">open</a>
          <br>
          <a id="save" class="dropdown-item item" href="javascript:void(0);">Save</a>
          <br>
          <a id="exit" class="dropdown-item item" href="javascript:void(0);">Exit</a>
        </div>
      </div>

      <button id="crop" class="btn btn-lg btn-outline-dark" type="button" data-toggle="dropdown tooltip" data-placement="bottom" title="crop" name="button"><i class="fas fa-crop-alt fa-2x"></i></button>


      <script type="text/javascript">

        

        $('#crop').click(function(event){
            $.ajax({

                url: '/editor/{{file_id}}/1',
                type : 'POST',
                dataType :'json', 
                data : {a : 'crop'},
                success:function(data) {
                    /* $("#change").text(data.result);*/
                    var value = data.result;
                    path ="/static/UPLOAD_FOLDER/{{file_id}}/"+value+"/";
                    $('.main-img').attr("src",path);
                }
            })
    })

        $('#filter').click(function(event){
            $.ajax({

                url: '/editor/{{file_id}}/1/',
                type : 'POST',
                dataType :'json', 
                data : {a : 'filter'},
                success:function(data) {
                    /* $("#change").text(data.result);*/
                    var value = data.result;
                    path ="/static/UPLOAD_FOLDER/{{file_id}}/"+value+"/";
                    $('.main-img').attr("src",path);
                }
            })
    })

$('#rotate-left').click(function(event){
            $.ajax({

                url: '/editor/{{file_id}}/1/',
                type : 'POST',
                dataType :'json', 
                data : {a : 'rotate-left'},
                success:function(data) {
                    /* $("#change").text(data.result);*/
                    var value = data.result;
                    path ="/static/UPLOAD_FOLDER/{{file_id}}/"+value+"/";
                    $('.main-img').attr("src",path);
                }
            })
    
})

</script>

      <div class="dropright">
        <button class="btn btn-lg btn-outline-dark dropdown-toggle" type="button" id="cutButton" data-toggle="dropdown" data-toggle="tooltip" title="cut" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cut fa-2x"></i>
        </button>
        <div class="dropdown-menu menu" aria-labelledby="cutButton">
          <a id="rectangle-shape" class="dropdown-item item" href="javascript:void(0);">Rectangle shape</a>
          <a id="circle-shape" class="dropdown-item item" href="javascript:void(0);">Circle shape</a>
          <a id="triangle-shape" class="dropdown-item item" href="javascript:void(0);">Triangle shape</a>
          <footer class="foot">
          <button class="response1 apply-button"> apply</button>
          <button class="response2 cancle-button">cancel</button>
        </footer>
        </div>
      </div>

      <div class="dropright">
        <button class="btn btn-lg btn-outline-dark dropdown-toggle" id="homeButton" data-toggle="dropdown" data-toggle="tooltip" title="adjust" aria-haspopup="true" aria-expanded="false" type="button" name="button"><i class="fas fa-sun fa-2x"></i></button>
        <div class="dropdown-menu menu" aria-labelledby="homeButton">
          <a id="saturation" class="dropdown-item item" href="javascript:void(0);">Saturation<br>
          Red<br><input type="range" name="vol" min="0" max="255" class="slider" id="red" step="1" value="1">
          Green<br> <input type="range" name="vol" min="0" max="255" class="slider" id="green" step="1" value="1">
          Blue<br> <input type="range" name="vol" min="0" max="255" class="slider" id="blue" step="1" value="1">
          <div id="box"></div>
        </a>

          <a id="temperature" class="dropdown-item item" href="javascript:void(0);">Temperature<br>
            <input type="range" id="vol" name="vol" min="0" max="255" class="slider">
          </a>
          <a id="brightness" class="dropdown-item item" href="javascript:void(0);">Brightness<br>
            <input type="range" id="vol" name="vol" min="0" max="50" class="slider">
          </a>
          <footer class="foot1">
          <button class="response1 apply-button"> apply</button>
          <button class="response2 cancle-button">cancel</button>
        </footer>

          <script type="text/javascript">
            var input = document.querySelectorAll("input");
              for(var i = 0; i < input.length; i++){
            input[i].addEventListener("input", function(){
          var red = document.getElementById("red").value,
          green = document.getElementById("green").value,
          blue = document.getElementById("blue").value;
        var display = document.getElementById("box");
      display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
    });
  }
</script>
        </div>

</div>

      <button id="filter" class="btn btn-lg btn-outline-dark" data-toggle="dropdown tooltip" data-placement="bottom" title="filter" type="button" name="button"><i class="fas fa-filter fa-2x"></i></button>

      <div class="dropright">
        <button class="btn btn-lg btn-outline-dark dropdown-toggle" id="homeButton" data-toggle="dropdown" data-toggle="tooltip" title="rotations" aria-haspopup="true" aria-expanded="false" type="button" name="button"><i class="fas fa-arrows-alt fa-2x"></i></button>
        <div class="dropdown-menu menu" aria-labelledby="homeButton">
          <a id="rotate-right" class="dropdown-item item" href="javascript:void(0);">Rotate Right</a>
          <a id="rotate-left" class="dropdown-item item" href="javascript:void(0);">Rotate Left</a>
          <a id="horizontal-flip" class="dropdown-item item" href="javascript:void(0);">Horizontal flip</a>
          <a id="vertical-flip" class="dropdown-item item" href="javascript:void(0);">Vertical flip</a>
          <footer class="foot2">
          <button class="response1 apply-button"> apply</button>
          <button class="response2 cancle-button">cancel</button>
        </footer>
        </div>
      </div>

      <button id="pen" class="btn btn-lg btn-outline-dark" data-toggle="dropdown tooltip" data-placement="bottom" title="pen" type="button" name="button"><i class="fas fa-pen fa-2x"></i></button>

      <button id="resize" class="btn btn-lg btn-outline-dark" data-toggle="dropdown tooltip" data-placement="bottom" title="Resize image" type="button" name="button"><i class="fas fa-images fa-2x"></i></button>
    </div>

    <div class="col-10 workspace">
      <form class="url" action="" method="post">
        <label for="">enter url : </label>
        <input type="number" name="text" value="">
        <input class="url-submit" type="submit" name="" value="submit">
      </form>
      <img class="main-img" src="/static/UPLOAD_FOLDER/{{file_id}}/{{filename}}/" alt="{{message}}">

    </div>
    <div class="col nav-bar">
      <h3>Nav <br>Bar </h3>
    </div>
  </div>
  <div class="row" style="background-color: #f4f7c5;">
    <p></p>
  </div>
  <div class="row last-row">
    <div class="col-1">
      <button id="setting" class="btn btn-lg btn-dark" type="button" data-toggle="dropdown tooltip" data-placement="bottom" title="setting" name="button"><i class="fas fa-cog fa-2x"></i></button>
    </div>
    <div class="col-5">
    </div>
    <div class="col-2 btn-group">
      <button id="undo" class="btn btn-dark" type="button" data-toggle="dropdown tooltip" data-placement="bottom" title="undo" name="button"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></button>
      <button id="redo" class="btn btn-dark" type="button" data-toggle="dropdown tooltip" data-placement="bottom" title="redo" name="button"><i class="fas fa-arrow-alt-circle-right fa-2x"></i></button>
    </div>
    <div class="col-2 btn-group">
      <button id="cancle" class="btn btn-dark" type="button" name="button"><i class="fas fa-trash-alt fa-2x bottom-buttons"></i>&nbsp; Cancel</button>
      <button id="save2" class="btn btn-dark" type="button" name="button"><i class="fas fa-save fa-2x bottom-buttons"></i>&nbsp; &nbsp; Save</button>
    </div>
  </div>



</script>
  <!-- JS and JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/editor.js" charset="utf-8"></script>
</body>

</html>
