<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>
		Help section!
	</title>
	<link rel="stylesheet" href="faq.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="faq.js"></script>
</head>

<body>
	<h1> FAQ Section</h1>
	<div class ="contain">
		<div class ="acc">
			<h3> question 1</h3>
			<div class="content">
				<div class ="content-inner">
					<p> answer1</p>
				</div>
			</div>
	</div>
	<!-- The first question finished-->
			<div class ="acc">
			<h3> question 2</h3>
			<div class="content">
				<div class ="content-inner">
					<p> answer2</p>
				</div>
			</div>
	</div>
	<!-- The second question finished-->
			<div class ="acc">
			<h3> question 3 this is a big question and lets make it more bigger</h3>
			<div class="content">
				<div class ="content-inner">
					<p> answer3</p>
				</div>
			</div>
	</div>
		<!-- The third question finished-->
	</div>
</body>
</html>
<!-- more questions to be added-->