<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Imator</title>
  <link rel="icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/styles2.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- font style -->
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap" rel="stylesheet">

</head>

<body>
  <h1 style="font-size:1500%;"><b>Imator</b></h1>
  <div class="">
    <h2>
      Try the experience of Image Editing yourself with the<br>
      all new Imator with latest editing tolls.
    </h2>
    <br>
      <button class="btn btn-lg btn-outline-dark btn-2" type="button" name="button">
        <label class="btn-2" for="files">Add Image</label>
        <br>
        <input type="file" style="visibility:hidden;" id="files">
      </button>
  </div>

  <h2 class="buttons">
    <button type="button" class="btn btn-lg btn-outline-dark btn-1"><a href="faq/">Brief</a></button>
    <button type="button" class="btn btn-lg btn-outline-dark btn-1"><a href="javascript:void(0);">Examples</a></button>
    <button type="button" class="btn btn-lg btn-outline-dark btn-1"><a href="editor">Open Editor</a></button>
  </h2>

</body>

</html>
